.selected{background-color: cadetblue;height:200px;}
.myDIV {
    height: 250px;
    width: 250px;
    overflow: auto;
    background: green;
  }
  
  .content {
     margin:5px; 
    height: 80px;
    width: 200px;
    background-color: coral;
  }